<div class="mainDiv">
  <div class="mainOptionWin">
    <div class="resBtn">
      <div class="resBtnHolder">
        <!-- <a class="waves-effect waves-light btn-large red accent-1" id="resMBtn">button</a> -->
        <button type="button" class="btn-large waves-effect  red darken-2" id="resMBtn"><a href="/reserve"> Make Reservation </a></button>

     </div>
    </div>
    <div class="managerBtn">
      <p> Manager Sign Up or log In </p>
      <a href = "/signup" class="waves-effect waves-light btn red lighten-2" id="btnSignUp"> Sign Up</a>
      <a href = "/login" class="waves-effect waves-light btn red lighten-2" id="btnSignIn"> Log In</a>
    </div>
  </div>
</div>